<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Titre -->
    <title>Morphing - Big Data</title>
    <meta name="description" content="Un projet de Big Data pour ajuster un visage" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='designs/favicon.png') }}"/>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <!-- Pour contrôler taille affichage -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<!-- Header du morph-->
<header class="header-morph">
</header>

<main>
    <div id="title">C'est l'heure du morphing !</div>
    <div id="subtitle">Telecharge ta photo maintenant</div>

    <input style="color: white;" type="file" id="file" name="first_choice" onchange=previewFile('#img1','#file') accept=".jpg, .jpeg, .png" required>
    <button id="upload">Upload</button>
    <button id="transform" type="button">Générer</button>
    <p id="msg" style="color: white;"></p>

    <div id="upload_pic">
        <div id="first_pic">
            <div id="first_img"><img id="img1" src="" height="250px" width="250px"></div>
        </div>
        <div id="="> = </div>
        <div id="result_pic">
            <div id="result_img"><img id="img3" src="" height="250px" width="250px"></div>
        </div>
        <script>
            function previewFile(img, pic) {
                const preview = document.querySelector(img);
                const file = document.querySelector(pic).files[0];
                const reader = new FileReader();

                reader.addEventListener("load", function () {
                    // on convertit l'image en une chaîne de caractères base64
                    preview.src = reader.result;
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }


            }
        </script>

    </div>

    <div id="slidercont">
        <div id="slideage">
            <div id="slider1">Age</div>
            <div class="slidercontainer">
                <input type="range" min="1" max="100" value="1" class="slider" id="myRangeAge">
            </div>
            <script>
                var slider = document.getElementById("myRangeAge");
                // var output = document.getElementById("demo");
                // output.innerHTML = slider.value; // Display the default slider value
                //
                // // Update the current slider value (each time you drag the slider handle)
                // slider.oninput = function() {
                //     output.innerHTML = this.value;
                // }
            </script>
        </div>
        <div id="slideeyes">
            <div id="slider2">Yeux</div>
            <div class="slidercontainer">
                <input type="range" min="1" max="100" value="1" class="slider" id="myRangeEyes">
            </div>
            <script>
                var slider = document.getElementById("myRangeEyes");
                // var output = document.getElementById("demo");
                // output.innerHTML = slider.value; // Display the default slider value
                //
                // // Update the current slider value (each time you drag the slider handle)
                // slider.oninput = function() {
                //     output.innerHTML = this.value;
                // }
            </script>
        </div>
    </div>

</main>

</body>

</html>

<!-- SCRIPTS -->

<!-- LIB -->
