<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Titre -->
    <title>Morphing - Big Data</title>
    <meta name="description" content="Un projet de Big Data pour mixer deux visages" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='designs/favicon.png') }}"/>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Pour contrôler taille affichage -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<!-- Header du morph-->
<header class="header-morph">
</header>

<main>
    <div id="title">
        Tu as toujours voulu fusionner avec tes amis
    </div>
    <div id="subtitle">
        Maintenant c'est possible
    </div>

    <div id="upload">

        <div id="upload_generate">
            <input type="file" id="first_pic" accept="image/png, image/jpeg">
            <input type="file" id="second_pic" accept="image/png, image/jpeg">
            <input id="generate" type="button" value="GENERATE">
        </div>

        <script>
            var input1 = document.getElementById("first_pic");
            input1.addEventListener("change", changeImg);
            function changeImg(){
                var reader = new FileReader();
                reader.readAsDataURL(input1.files[0]);
                /*var img = document.createElement("img");
                img.src = input1.value.toString();
                document.getElementById("first_img").appendChild(img);*/
            }
        </script>

        <div id="images">
            <div id="first_img"></div>
            <div id="+"> + </div>
            <div id="second_img"></div>
            <div id="="> = </div>
            <div id="result_img"></div>
        </div>
    </div>

    </div>

</main>



</body>

</html>

<!-- SCRIPTS -->

<!-- LIB -->
